<header class="header d-none d-md-block">
  <nav class="navegadorPrincipal">
    <div class="contenedorPrincipal">
      <div class="logo-contenedor">
        <a [routerLink]="['']" routerLinkActive="router-link-active">
          <img class="imagenLogo" src="imagenes/Modified_Image_Pure_Black_Background.png" alt="Logo de la pagina web"
            width="200px" />
        </a>
      </div>
      <!-- Columna de los botones (a la derecha) -->
      <div class="boton-contenedor">
        <a [routerLink]="['']" routerLinkActive="router-link-active"><button class="botonNavegador botonGrupo"
            (click)="cerrarSesion()">GRUPOS</button></a>
        <a [routerLink]="['']" routerLinkActive="router-link-active">
          <button class="botonNavegador botonAnime d-xl-block d-none">
            ANIMES
          </button></a>
        <a [routerLink]="['']" routerLinkActive="router-link-active"><button
            class="botonNavegador botonVideojuegos d-xl-block d-none">
            VIDEOJUEGOS
          </button></a>
        <a [routerLink]="['']" routerLinkActive="router-link-active">
          <button class="botonNavegador botonCategoria d-xl-none d-md-block d-none">
            CATEGORÍA
          </button></a>
        <!-- Aqui deberia de poner una condicion que si es admin coja una cosa y si no que haga la otra -->
        <ng-container *ngIf="usuarioPerfil; else sinUsu1">
          <ng-container *ngIf="usuarioPerfil.rolUsu === 'admin'; else superAdmin">
            <button [routerLink]="['/pagina-perfil']" routerLinkActive="router-link-active" class="botonNavegador">
              ADMIN
            </button>
          </ng-container>
          <ng-template #superAdmin>
            <ng-container *ngIf="usuarioPerfil.rolUsu === 'sadmin'; else checkUser">
              <button [routerLink]="['/pagina-perfil']" routerLinkActive="router-link-active" class="botonNavegador">
                SUPER ADMIN
              </button>
            </ng-container>
          </ng-template>
          <ng-template #checkUser>
            <button [routerLink]="['/pagina-perfil']" routerLinkActive="router-link-active" class="botonNavegador">
              PERFIL
            </button>
          </ng-template>
        </ng-container>

        <ng-template #sinUsu1>
          <button class="botonIconoIS" [routerLink]="['/inicio-sesion']" routerLinkActive="router-link-active">
            <i class="fas fa-user icono"></i>
          </button>
        </ng-template>

      </div>
    </div>
  </nav>
</header>

<!-- Este header es para la parte de moviles y tablest pequeñas-->
<header class="header d-block d-md-none">
  <nav class="navegadorPrincipalS">
    <div class="contenedorPrincipal">
      <div class="logo-contenedor">
        <a [routerLink]="['']" routerLinkActive="router-link-active">
          <img class="imagenLogo2" src="imagenes/Modified_Image_Pure_Black_Background.png" alt="Logo de la pagina web"
            width="200px" />
        </a>
      </div>

      <!-- MENU -->
      <div class="boton-contenedor2">
        <button #menuToggle (click)="toggleMenu()" class="botonNavegador2 d-block d-md-none" id="menuToggle">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="menu-desplegable menu" id="menuOpciones" #menuOpciones
          [style.display]="menuVisible ? 'block' : 'none'">
          <a [routerLink]="['']" routerLinkActive="router-link-active" (click)="cerrarSesion()">GRUPOS</a>
          <a [routerLink]="['']" routerLinkActive="router-link-active">CATEGORÍA</a>
          <!-- Condición para mostrar Perfil de Usuario o Admin -->
          <ng-container *ngIf="usuarioPerfil; else sinUsu">
            <ng-container *ngIf="usuarioPerfil.rolUsu === 'admin'; else superAdmin">
              <a [routerLink]="['/admin']" routerLinkActive="router-link-active">
                ADMIN
              </a>
            </ng-container>
            <ng-template #superAdmin>
              <ng-container *ngIf="usuarioPerfil.rolUsu === 'sadmin'; else checkUser">
                <a [routerLink]="['/sadmin']" routerLinkActive="router-link-active">
                  ADMIN
                </a>
              </ng-container>
            </ng-template>
            <ng-template #checkUser>
              <a [routerLink]="['/pagina-perfil']" routerLinkActive="router-link-active">
                PERFIL
              </a>
            </ng-template>
          </ng-container>

          <ng-template #sinUsu>
            <a [routerLink]="['/inicio-sesion']" routerLinkActive="router-link-active">
              INICIAR SESIÓN
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </nav>
</header>