<main class="contenedorMain">
    <div class="d-none d-md-block zonaCompleta">
        <div class="container" id="container">
            <div class="formularioContenedor sign-up-container">
                <form (ngSubmit)="registrar()">
                    <h2 class="registroTitulo">Registrarse</h2>
                    <input type="text" placeholder="Nombre Completo" required
                        [(ngModel)]="usuarioRegistro.nombreCompletoUsu" name="nombreCompletoUsu" /> <input type="text"
                        placeholder="Alias" required [(ngModel)]="usuarioRegistro.aliasUsu" name="aliasUsu" /> <input
                        type="email" placeholder="Correo electrónico" required
                        [(ngModel)]="usuarioRegistro.correoElectronicoUsu" name="correoElectronicoUsu" />
                    <input type="password" placeholder="Contraseña" name="contraseniaUsu" required
                        [(ngModel)]="usuarioRegistro.contraseniaUsu" /> <input type="password"
                        placeholder="Repetir contraseña" />
                    <div class="debajoDeLosInputs">
                        <div class="social-contenedor2">
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        </div>
                        <button type="submit" class="botonIS1 botonRegistro">
                            Registrarse</button>
                    </div>
                </form>
            </div>

            <div class="formularioContenedor sign-in-container">
                <form (ngSubmit)="inicioSesion2()">
                    <h2 class="inicioSesionTitulo">Inicio sesion</h2>
                    <input type="email" placeholder="Correo electrónico" required
                        [(ngModel)]="usuarioLogin.correoElectronicoUsu" name="correoElectronicoUsu" /> <input
                        type="password" placeholder="Contraseña" required [(ngModel)]="usuarioLogin.contraseniaUsu"
                        name="contraseniaUsu" />
                    <div class="debajoDeLosInputs">
                        <div class="social-contenedor">
                            <a href="#" class="social"><i class="fab fa-google"></i></a>
                        </div>
                        <a href="#">¿Has olvidado tu contraseña?</a>
                    </div>
                    <button type="submit" class=" botonIS1">Iniciar
                        Sesion</button>
                </form>
            </div>


            <div class="overlay-container" [ngClass]="{ 'right-panel-active': isSignUpActive }">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h2 class="titulo">Bienvenido</h2>
                        <p>Inicia sesión con tu cuenta</p>
                        <button class="botonIS1" (click)="toggleForm()" id="signIn">Iniciar sesión</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h2 class="titulo">¿Eres nuevo?</h2>
                        <p>Únete a esta gran familia</p>
                        <button class="botonIS1" (click)="toggleForm()" id="signUp">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Parte Pequeña -->
    <div class="d-block d-md-none contenedorIsMV">
        <div class="form-container capacidadMinima" [ngClass]="{ 'flip': isFlipped }" id="formContainer">
            <div class="form-inner">
                <!-- Formulario Frontal -->
                <form class="form formsm" (ngSubmit)="inicioSesion2()">
                    <h2 class="inicioSesionTitulo1">Inicio sesion</h2>
                    <input type="email" placeholder="C o r r e o  e l e c t r ó n i c o" name="correoElectronicoUsu"
                        required [(ngModel)]="usuarioLogin.correoElectronicoUsu" /> <input type="password"
                        [(ngModel)]="usuarioLogin.contraseniaUsu" placeholder="C o n t r a s e ñ a" required
                        name="contraseniaUsu" />
                    <div class="debajoDeLosInputs1">
                        <div class="social-contenedor">
                            <a href="#" class="social1"><i class="fab fa-google"></i></a>
                        </div>
                        <a href="#" class="olvidoContra">¿Has olvidado tu contraseña?</a>
                    </div>
                    <div class="debajoDeLosInputs3">
                        <button class="botonNavegador botonIS1">Iniciar Sesion</button>
                        <button type="button" (click)="flipForm()" class="botonFlip botonIS1">Registrase</button>
                    </div>
                </form>
                <!-- Formulario Trasero -->
                <form class="form1 form-back formsm">
                    <h2 class="registroTitulo1">Registrarse</h2>
                    <input type="text" [(ngModel)]="usuarioRegistro.nombreCompletoUsu"
                        placeholder="N o m b r e  c o m p l e t o" required name="nombreCompletoUsu" />
                    <input type="text" [(ngModel)]="usuarioRegistro.aliasUsu" placeholder="A l i a s" required
                        name="aliasUsu" /> <input type="email" placeholder="C o r r e o  e l e c t r ó n i c o"
                        [(ngModel)]="usuarioRegistro.correoElectronicoUsu" required name="correoElectronicoUsu" />
                    <input type="password" placeholder="C o n t r a s e ñ a" required
                        [(ngModel)]="usuarioRegistro.contraseniaUsu" name="contraseniaUsu" /> <input type="password"
                        placeholder="R e p e t i r  c o n t r a s e ñ a" />
                    <div class="social-contenedor3">
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                    <div class="debajoDeLosInputs3">
                        <button class="botonIS1 botonRegistro parteR">
                            Registrarse</button>
                        <button type="button" (click)="flipForm()" class="botonFlip botonIS1 parteR">inicio
                            Sesion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>