<div id="formularioModal" class="modal">
  <div class="contenidoModal">
    <span class="close" (click)="closeFormularioModal()">&times;</span>
    <h2>Modificar Usuario</h2>
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
      <!-- Campos visibles -->
      <div>
        <label for="aliasInput">Alias:</label>
        <input type="text" id="aliasInput" formControlName="aliasInput" required />
      </div>
      <div>
        <label for="nombreCompletoInput">Nombre Completo:</label>
        <input type="text" id="nombreCompletoInput" formControlName="nombreCompletoInput" required />
      </div>
      <div>
        <label for="movilInput">Teléfono Móvil:</label>
        <input type="tel" id="movilInput" formControlName="movilInput" required />
      </div>
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <label for="fotoInput">Fotografía:</label>
        <input type="file" id="fotoInput" (change)="onFileChange($event)" />
      </div>
      <button type="submit" class="manga-button">Guardar</button>
    </form>
  </div>
</div>